p {
  display: inline-block;
}
.p1 {
  width: 65px;
}
.p2 {
  width: 240px;
  margin-right: 10px;
}

.content_container {
  font-size: 12px;
  input {
    color: transparentize(font-color($bg-color), 0.42);
    background-color: transparent;
    display: inline-block;
    border: none;
    line-height: 1.5rem;
    width: 100%;
  }
  a {
    color: $href-color;
    &:hover {
      text-decoration: none;
    }
  }
  .__delete,
  .__save {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    float: right;
  }
  .__delete {
    color: $delete-color;
  }
  .__save {
    color: $save-color;
  }
}
