p {
  line-height: 1.5rem;
}
nav {
  li {
    float: left;
    margin-right: 15px;
    font-size: 18px;
    a {
      color: transparentize(font-color($bg-color), 0.12);
      text-decoration: none;
      display: block;
      &:hover {
        color: transparentize(font-color($bg-color), 0.32);
      }
    }
  }
}
.content_container {
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    color: transparentize(font-color($bg-color), 0.42);
  }
  a {
    color: $href-color;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    display: block;
    width: 50%;
    margin: 15px 0;
  }
}
