$bg-color: #272626;
$font-fam: "Open Sans", sans-serif;
@function font-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
$href-color: #1ebcff;
$save-color: #52df52;
$delete-color: #df5252;

.margin-auto {
  margin: 0 auto;
}

.padd {
  padding: 15px;
  border-radius: 5px;
}

html {
  height: 100%;
}
body {
  font-family: $font-fam;
  background-color: $bg-color;
  color: font-color($bg-color);
  font-size: 16px;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}
#box-content {
  width: 900px;
  @extend .margin-auto;
  @extend .padd;
  table {
    width: 100%;
    tr th {
      border: none;
      text-align: left;
      padding: 8px;
      font-size: 12px;
    }
  }
}
.box-header {
  @extend .padd;
  font-size: 12px;
}
.content_container {
  @extend .padd;
  background-color: darken($bg-color, 5);
  border: 1px solid darken($bg-color, 9);
  width: 100%;
  margin-bottom: 15px;
}
