$bg-color: #272626;
$font-fam: "Open Sans", sans-serif;
@function font-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
$href-color: #1ebcff;

/* Media Queries */
$min-break: 320px;
$medium-break: 600px;

/* Kontrollera positioneringen, y- och x-axeln, vid absolut position */
@mixin transform($property) {
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

.padd {
  padding: 15px;
  border-radius: 5px;
}
.top_left {
  top: 50%;
  left: 50%;
}

html {
  height: 100%;
}
body {
  font-family: $font-fam;
  background-color: $bg-color;
  color: font-color($bg-color);
  font-size: 16px;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width: $min-break) {
    min-width: $min-break;
  }
}
nav {
  background-color: darken($bg-color, 5);
  border: 1px solid darken($bg-color, 9);
  float: left;
  width: 100%;
  padding: 15px;
  z-index: 1;
  position: relative;
  @media screen and (max-width: $medium-break) {
    .nav-items-holder {
      display: inline-block;
      &:before {
        cursor: pointer;
        pointer-events: all;
        content: "|||";
        display: inline-block;
        font-size: 18px;
        position: relative;
        @include transform(rotate(90deg));
      }
    }
    li {
      width: 100%;
      display: none;
      margin: 0;
      margin-top: 15px;
    }
  }
}
.content_container {
  @extend .top_left;
  @include transform(translate(-50%, -50%));
  @extend .padd;
  background-color: darken($bg-color, 5);
  border: 1px solid darken($bg-color, 9);
  width: 100%;
  max-width: 600px;
  position: absolute;
  @media screen and (max-width: $medium-break) {
    @include transform(translate(0, 0));
    top: 60px;
    left: 0;
  }
}
